{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} {% endblock %}

{% block body_block %}
  {% if search %}
    {% for user in result %}
      <div class="row">
        <div class="col-sm-2">
          {% if user.user_profile.profile_pic %}
            <img src="/media/{{ user.user_profile.profile_pic }}" width="75px" height="75px" class="rounded-circle">
          {% else %}
            <img src="/media/profile_pics/default.jpg" width="75px" height="75px" class="rounded-circle">
          {% endif %}
        </div>
        <div class="col-sm-10">
          <a href="{% url 'Login_API:user' username=user.username %}"><h4>{{ user.username }}</h4></a>
          <h6>{{ user.user_profile.full_name }}</h6>
        </div>
      </div><hr>
    {% endfor %}
  {% else %}

  {% endif %}

{% endblock %}
