{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} {% endblock %}

{% block css_block %}
<style >
  .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .crop img {
    width: 400px;
    height: 300px;
    margin: -85px 0 0 -110px;
  }
</style>
{% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-sm-4">
    {% if user_other.user_profile.profile_pic %}
    <img src="/media/{{ user_other.user_profile.profile_pic }}" width="220px" height="220px" class="rounded-circle">
    {% else %}
    <img src="/media/profile_pics/default.jpg" width="220px" height="220px" class="rounded-circle">
    {% endif %}
  </div>

  <div class="col-sm-8">
    <h1>{{ user_other.username }}&nbsp;
      {% if not already_following %}
        <a href="{% url 'Login_API:follow' username=user_other.username %}" class="btn btn-primary">Follow</a>
      {% else %}
        <a href="{% url 'Login_API:unfollow' username=user_other.username %}" class="btn btn-primary">Unfollow</a>
      {% endif %}
    </h1>
    <h4>{{ user_other.post_author.count }} Posts &nbsp;&nbsp; {{ user_other.following.count }} Followers &nbsp;&nbsp; {{ user_other.follower.count }} Following</h4><hr><br>
    <h3>{{ user_other.user_profile.full_name }}</h3>
    <h6>{{ user_other.user_profile.description }}</h6>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">What's on Your mind?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          {{ form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-sm">Post</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<br><br>
<hr>
<div class="row">
  {% for post in user_other.post_author.all %}
  <div class="crop">
    <img src="/media/{{ post.image }}" alt="">
  </div>
  {% endfor %}
</div><hr>
{% endblock %}
